.about-container{
    padding:0px 20px;
    margin-top: 80px;
    article{
    .about-company{    
        p{
            margin-bottom: 30px;
            line-height:24px;
        }
    }
    .about-header{
        h1{
            font-size: 48px;
            font-weight: 300;
            margin-bottom: 50px;
        }
    }
    .contactus-btn{
        display: flex;
        justify-content: center;
        align-items: center;
       
    }
   }
    .about-image {
        display: none;
   }
}

@media (min-width:800px) {
    .about-container{
        display: flex;
        padding:0px 50px;
        
        article{
            width:750px;
            margin-right: 30px;
            .about-header{
                h1{
                    font-size: 65px;
                }
            }
            .about-company{
                p{
                    font-size: 14px;
                }
            }
        }
        .about-image {
            display: block;
        }
    }
    
    
}