.project-container{

    .o-color{
        color:#FA8937;
    }
    .cards-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin:50px 0px;
        padding:0px 15px;
        .card{
            padding:10px;
            margin-bottom: 40px;
            border-radius: 15px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            .card-title{
                display:flex;
                justify-content: space-between;
                margin:20px 0px 40px 0px;
                h3{
                    font-size: 16px;
                }
                a{
                    font-size: 12px;
                }
                 }
            p{
                font-size: 16px;
                font-weight: 600;
                line-height: 21px;
            }
            .card-bottom {
                display: flex;
                justify-content: space-between;
                margin:20px 0px;
                .card-bottom-right span {
                margin: 0px 10px;
                border-radius: 15px;
                padding:7px 15px;
                font-size: 10px;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                }
                a{
                    font-weight: 400;
                    font-size: 12px;
                }
        }
    }
    }
    .project-btn{
        text-align: center;
        .pro_btn p{
            padding: 10px 30px;
        }
    }

}

.portfolio-header{
    margin-top: 80px;
    padding:20px;
    
    h1{
        margin-bottom: 20px;
        font-size: 35px;
        font-weight: 300;
    }
    em{
        font-size: 12px;
    }
}

@media (min-width:850px) {
    .project-container {
        padding: 0px 40px;
        section{
            display: flex;
        }
        .cards-wrapper {
           display: grid;
           grid-template-columns: repeat(3,1fr);
           grid-gap:40px;
           p{
            font-size: 14px;
           }
           span{
            font-size: 11px;
           }
           a{
            font-size: 13px;
           }
           .card-title{
            display: flex;
            align-items: center;
           }
        }

        .project-cards .cards-wrapper{
            grid-template-columns: repeat(2,1fr);
        }

 .left{
    width:700px;
 }
 .right{
   display: flex;
   flex:2;
   justify-content: flex-end;
   padding: 40px 0px 130px;
 .bar-one {
     display: flex;
     width: 92px;
     flex-direction: column;
     justify-content: space-between;

     .round {
         height: 170px;
         width: 100%;
         background: #C6D711;
         border-radius: 100px;
     }

     .circle {
         height: 92px;
         width: 100%;
         background: #FA8937;
         margin: 30px 0px;
         border-radius: 100%;
     }
 }

 .bar-two {
     width: 90px;
     background: #24CEC8;
     border-radius: 100px;
     margin-left: 25px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     padding: 20px;

     .circle {
         background: white;
         border-radius: 100%;
     }

     .medium {
         width: 20px;
         height: 20px;
     }

     .small {
         width: 12px;
         height: 12px;
         margin-top: 35px;
         align-self: flex-end;

     }
    }
 }

 .project-card{
    transition: all ease-in-out 0.4s;
    &:hover{
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    }
 }
       
    }
    .portfolio-header {
             margin-top: 80px;
             padding: 20px 60px;
            
             h1 {
                 font-size: 55px;
                 font-weight: 300;
                text-align: center;
             }
         }

    
}